lyricsgenius~=3.0.1
matplotlib~=3.7.2
mplcursors~=0.5.3
nltk~=3.8.1
numpy~=1.24.3
opencv_python~=4.9.0.80
opencv_python_headless~=4.9.0.80
pandas~=2.0.3
pytest~=7.4.0
wordcloud~=1.9.3
regex~=2023.12.25